version: '3.8'
services:
  php:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    depends_on:
      - db
    ports:
      - "9000:9000"
    container_name: php
    volumes:
      - ./src/backend:/var/www
    user: "${USER_ID}:${GROUP_ID}"
    environment:
      - SESSION_DRIVER=cookie
      - SESSION_SECURE_COOKIE=false
    networks:
      - app-network

  db:
    image: mysql:8.0
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: tavern_keeper
      MYSQL_USER: tavern_keeper_user
      MYSQL_PASSWORD: '12345678'
      TZ: America/Sao_Paulo
    ports:
      - "3307:3306"
    networks:
      - app-network
    volumes:
      - db_data:/var/lib/mysql
    command: --default-time-zone=America/Sao_Paulo

  node:
    build:
      context: .
      dockerfile: docker/node/Dockerfile
    container_name: node
    volumes:
      - ./src/frontend:/var/www
      - /var/www/node_modules
    ports:
      - "5173:5173"  # Porta para desenvolvimento do Vite
    networks:
      - app-network

  nginx:
    image: nginx:stable-alpine
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ./src/backend:/var/www
      - ./docker/nginx/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - php
      - node
    networks:
      - app-network

volumes:
  db_data:
  
networks:
  app-network:
    driver: bridge